extends ../layout/layout
block mainContent
    .container.marginTop
        .row
            .col-md-3.searchEdit
                .container-fluid
                    .row
                        .col
                            label(for='type') Busto tipas
                            select#type.form-control(name='type')
                                if(filters.type)
                                    option(value=filters.type)=`${filters.type.charAt(0).toUpperCase()}${filters.type.slice(1)}`
                                option(value='*') 
                                option(value='butas') Butas
                                option(value='namas') Namas
                                option(value='kambarys') Kambarys
                    .row
                        .col
                            label(for="location") Vietove
                            select#location.form-control(name='location')
                                if(filters.location)
                                    option(value=filters.location)=`${filters.location.charAt(0).toUpperCase()}${filters.location.slice(1)}`
                                option(value='*') Visos vietoves
                                option(value='Nida') Nida
                                option(value='Juodkrante') Juodkrante
                                option(value='Klaipeda') Klaipeda
                                option(value='Palanga') Palanga
                                option(value='Sventoji') Sventoji
                    .row
                        .col
                            label(for='priceRange')
                            | Kaina iki 
                            span#maxPrice
                            |  EUR. per parą
                            input#priceRange.slider(type='range', min='50', max='500', value=`${filters.price ? filters.price : 2}`, step='10', name='price')
                    .row
                        .col
                            label(for='minimumCapacity')
                            | Kamabarių skaičius >
                            span#minRoom
                            input#minimumRoom.slider(type='range', min='1', max='10', value=`${filters.rooms ? filters.rooms : 1}`, name='rooms')
                    .row
                        .col
                            label(for='minimumBeds')
                            | Lovu skaičius >
                            span#minBeds
                            input#minimumBeds.slider(type='range', min='1', max='10', value=`${filters.beds ? filters.beds : 1}`, name='beds')
                    .row
                        .col
                            button.btn.btn-success#updateSearch Ieškoti
                            a(href='/properties/')  Papildyti paieska
            .col-md-7
                .container.resultsSet
                    .row.bottomBorder
                        h4=`Rasta ${results.count} rezultatu`
                    .row.resultRow
                        if(results.count!=0)
                            each property in results.rows
                                .card.flex-row.flex-wrap(style="width:100%")
                                    .card-header.border-0
                                        img(src=property.images[0].url, alt='')
                                    .card-block.px-2
                                        h4.card-title=property.address
                                        p.card-text=property.city
                                        a.btn.btn-primary(href=`/properties/get/${property.id}`) Peržiūrėti
                                    .w-100
                                    .card-footer.w-100.text-muted=`Paskelba ${property.getDate(property.createdAt)}`
                            .middle-button
                                button.btn.btn-success#loadMore Load more
                        else
                            .display
                                h5 Nera rezultatu pagal uzklausa
            .col-md-2.advertisementAtSearch
                .row
                    .col
                        .container.advertisement
                            h5 Reklama
                    .col.marginTop
                        .container.advertisement
                            h5 Reklama
