extends layout/layout
block mainContent
    .container
        .row
            .col-md-8.offset-md-2
                form
                    .form-group
                        label(for='id') ID
                        input.form-control#id(type='text', value=item.id, name='id', disabled='')
                    .form-group
                        label(for='address') Address
                        .input-group.mb-3
                            input.form-control#address(type='text', value=item.address, name='address')
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update
                    .form-group
                        label(for='city') City
                        .input-group.mb-3
                            input.form-control#city(type='text', value=item.city, name='city')
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update

                    .form-group
                        label(for='price') Price
                        .input-group.mb-3
                            input.form-control#price(type='number', value=item.price, name='price')
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update

                    .form-group
                        label(for='propertyType') Type of accomodation
                        .input-group.mb-3
                            select.form-control#propertyType(name='propertyType')
                                if(item.propertyType)
                                    option(value=item.propertyType)=item.propertyType
                                option(value="*")
                                option(value="butas") butas
                                option(value="kambarys") kambarys
                                option(value="namas") namas
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update

                    .form-group
                        label(for='bedcount') Beds
                        .input-group.mb-3
                            input.form-control#bedcount(type='number', value=item.bedcount, name='bedcount')
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update
                    .form-group
                        label(for='roomcount') Rooms
                        .input-group.mb-3
                            input.form-control#roomcount(type='number', value=item.roomcount, name='roomcount')
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update
                    .form-group
                        label(for='description') Description
                        .input-group.mb-3
                            textarea.form-control#description(name='description')=item.description
                            .input-group-append
                                button.btn.btn-outline-secondary.update-btn(type='button') Update
